body {
	background-color: #222222;
}

.navbar {
	border-bottom: 4px solid #019bc6;
}

.top_splash {
	height:260px;
	width: 100%;
	position: relative;
	top: -18px;
	text-align: center;
	padding-top: 120px;
	background-image: url('../images/dark_geometric.png');
	border-bottom: 2px solid #1c1c1c;
}

#logo {
	width: 640px;
	padding-bottom: 30px;
}

.mid_content {
}

h1, h2, h3, h4, h5, h6, p {
	color: #fff;
}

h1, h2 {
	line-height: 28px;
	margin-bottom: 8px;
	font-family: Tahoma;
}

p {
	color: #ccc;
}

section {
	padding-top: 55px;
	margin-bottom: -10px;
	padding-bottom: 10px;
}

#docs h2 {
	text-transform: uppercase;
}

#docs_sidenav {

}

.main_container {
	margin-top: 60px;
}

.fixed {
	position: fixed;
}

.page_header {
	border-bottom: 3px double #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
}

.page_header h1{
	font-size: 36px;
}

@media (max-width: 767px) {
	.top_splash {
		/* gets rid of the extra padding on the left of the logo in mobile, so the bridge extends all the way across */
		padding-left: 0px;
	}

	.btn-large {
		margin-bottom: 10px;
		min-width: 170px;
	}

	#docs_sidenav {
		display: none;
	}
}

@media (max-width: 979px) {
	#fork_banner {
		/* removes the fork bannerin mobile (it covers the navigation button anwyay, no good place for it) */
		display: none;
	}
	
	.main_container {
		margin-top: 0px;
	}
	
	.top_splash {
		padding-top: 40px;
	}
	
}